.slider-image {
  opacity: 90%;
  height: 80vh;
  width:100vw !important;
  @media screen and (max-device-width: 480px) and (orientation: portrait) {
    height:40vh !important;
    width: 100vw !important;

  }
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    width: 100vw !important;
    height:30vh !important;

  }

}
.carousel-status{
  display: none;
}
/* Custom styles for carousel arrows */
.carousel .control-arrow {
  font-size: 24px;
  text-align: center;
  color: #333;
  border-radius: 50%; 
  background-color: transparent !important;

}


.carousel .control-prev {
  left: 10px; 
}


.carousel .control-next {
  right: 10px; 
}
