.categoryCircle {
  height: 155px;
  width: 155px;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #2b7a8b;

  align-items: center;
  clip-path: polygon(
    20% 5%,    /* Top-left */
    80% 5%,    /* Top-right */
    95% 20%,   /* Upper-right corner */
    95% 80%,   /* Lower-right corner */
    80% 95%,   /* Bottom-right */
    20% 95%,   /* Bottom-left */
    5% 80%,    /* Lower-left corner */
    5% 20%    /* Upper-left corner */
);

  cursor: pointer;
  transition: transform 0.3s ease;
  &:nth-child(even) {
    background-color: #9c4866 !important;
  }&:hover{
    transform: scale(1.2);
  }
}

.categoriesGrid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 80px;
  place-content: center;
  @media screen and (max-device-width: 480px) and (orientation: portrait) {
    grid-template-columns: auto auto;
  gap: 10px;
  }
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    width: 200px;
    height: 200px;
  }
}
