.categoriesGrid{
	display: grid;
	grid-template-columns: auto auto auto auto;
	place-items: center;

	@media screen and (max-device-width: 480px) and (orientation: portrait) {
	grid-template-columns: auto auto ;
		gap: 5px;
	  }
	  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	grid-template-columns: auto auto auto ;
		
	  }
}
.shape {
	cursor: pointer;
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
  background-color: #2a798b;
  height: 150px;
  width: 150px;
  @media screen and (max-device-width: 480px) and (orientation: portrait) {
	height: 120px;
	width: 120px;
  }
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	height: 120px;
	width: 120px;
  }
}
