@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@500&display=swap");
.header {
  .logo {
    font-weight: 400;
    font-family: "Alegreya SC", serif;
    color: #2a7a8c;
  }
  .input {
    width: 400px !important;
  }
  .logo_text {
    font-weight: 600;
  }
}

.cart-card{
  z-index: 1 !important;
  
}